{% extends 'goods/base.html' %}
{% load rest_framework %}
{% load static %}


{% block content %}
    <div class="button-sort">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-light">sort by newest</button>
            <button type="button" class="btn btn-light">sort by price</button>
          </div>
    </div>
    <div class="category">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Shoes</a>
            </div>
          </nav>
          <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for object in object_list %}
            <div class="col">
              <div class="card h-100">
                <img src="{{ object.images.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{object.name}}</h5>
                  <p class="card-text">{{object.price}}</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
    </div>
{% endblock %}
